<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Adblock Control</title>
        <!-- FOUC Fix -->
        <style>html{visibility: hidden;opacity:0;}</style>
        <meta name="theme-color" content="#8ce4f2">
        <meta name="description" content="A simple UI for temporarily disabling a Pi-Hole adblocker.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:title" content="Adblock Control">
        <meta property="og:type" content="website">
        <meta property="og:image" content="/assets/icon.png">
        <link rel="apple-touch-icon" href="/assets/icon.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
        <link rel="manifest" href="/assets/site.webmanifest">
        <link rel="mask-icon" href="/assets/safari-pinned-tab.svg" color="#1e88e5">
        <link rel="shortcut icon" href="/assets/favicon.ico">
        <meta name="msapplication-TileColor" content="#b91d47">
        <meta name="msapplication-config" content="/assets/browserconfig.xml">
        <link rel="stylesheet" href="/assets/bulma.min.css">
        <link rel="stylesheet" href="/assets/main.css">
    </head>
    <body>
        <!-- Add your site or application content here -->
        <section class="hero is-dark is-bold is-fullheight">
            <div class="hero-body">
                <div class="container has-text-centered">
                    <figure class="image container is-128x128">
                        <picture>
                            <source srcset="/assets/icon.webp" type="image/webp">
                            <img src="/assets/icon.png">
                        </picture>    
                    </figure>
                    {{ if . }}
                    <h1 class="title">
                        {{ if .Blocking }}
                        Pi-hole adblock is NOT disabled! <br> Please report this issue to your PiHole owner.
                        {{ else }}
                        Pi-hole adblock is now disabled for {{ .Timer }} minutes.
                        {{ end }}
                    </h1>
                    <h2 class="subtitle">
                        You can now close this page.
                    </h2>
                    {{ else }}
                    <h1 class="title">
                        Disable Pi-hole adblock
                    </h1>
                    <h2 class="subtitle">
                        Because the 'net is a mess.
                    </h2>
                    <form action="/disable" method="GET">
                        <div class="field mt-4">
                            <div class="control">
                                <button id="button" class="button is-danger is-dark is-large is-rounded">
                                    Disable Adblock
                                </button>
                            </div>
                        </div>
                        <div class="field">
                            <p class="control">
                                <span class="select">
                                    <select id="duration" name="duration">
                                        <option value="600">10 Minutes</option>
                                        <option value="1800" selected>30 Minutes</option>
                                        <option value="3600">60 Minutes</option>
                                    </select>
                                </span>
                            </p>
                        </div>
                    </form>
                    {{ end }}
                </div>
            </div>
        </section>
    </body>
</html>
